*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.section-1 {
    background: #1F2937;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 40px;
    padding-left: 15%;
    padding-right: 15%;
}
.logo {
    color: #F9F8FA;
    font-size: 24px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #E5E7EB
}
.links {
    display: flex;
    gap: 20px;
}
.main {
    padding-top: 130px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 130px;
    display: flex;
    gap: 16px;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9F8FA;
    margin-bottom: 10px;
}
p{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}
.img1 {
    width: 550px;
    height: 250px;
}
button {
    background: #3882F6;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 16px;
    width: 140px;
    border-radius: 10px;
    border-color: #3882F6;
}
.section-2 {
    background: #F9F8FA;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    /* padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px; */
}
.title {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 20px;
    color:#1F2937;
}
img {
    width: 250px;
    height: 250px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.section-3{
    background: #E5E7EB;
    padding-top: 10%;
    padding-bottom: 10%;
    /* text-align: center; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.text {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    padding-left: 15%;
    padding-right: 15%;
    font-style: italic;
    color: #1F2937;

}
.small-text {
    display: flex;
    font-size: 24px;
    justify-content: flex-end;
    font-weight: 800;
    padding-left: 15%;
    padding-right: 18%;
}


