body {
    padding-bottom: 40px;
    margin: 0px;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    padding-left: 150px;
    background: #1F2937;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    
}
.left {
    color: #F9F8FA;
    font-size: 24px;
    font-weight: bold;
}
.right {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #E5E7EB
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.main {
    padding-top: 130px;
    color: #F9F8FA;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

p{
    font-size: 18px;
}

button {
    background: #3882F6;
    border-radius: 10%;
    color: #F9F8FA;
    font-weight: 400;
    font-size: 16px;
    padding: 15px;
    min-height: 25px;
    min-width: 50px; 
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid #3882F6;
}
.right1{
    display: flex;
}
.img1 {
    width: 600px;
    height: 300px;
}
.section {
    background: #F9F8FA;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    width: 250px;
    height: 250px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.quote {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 20px;
}


